<div class="d-flex flex-column rounded-top bg-dark">
  <h3 class="text-white fw-bold px-9 mt-6 mb-6 d-flex justify-content-between">
    <div>Notificações</div>
    <div class="fs-8 opacity-75 ps-3 align-self-center">
      {{ unreadCount }} {{ unreadCount === 1 ? 'nova' : 'novas' }}
    </div>
  </h3>
</div>

<div class="scroll-y mh-325px">
  <div class="d-flex h-auto w-100" *ngIf="items.length > 0">
    <div class="pe-2 border-bottom border-gray-300 py-2 w-100 text-end">
      <a (click)="markAllAsRead()" class="link cursor-pointer fs-7">
        Marcar todas lidas
      </a>
    </div>
  </div>

  <div
    *ngIf="items.length === 0"
    class="d-flex justify-content-center align-items-center py-5"
  >
    <span class="text-gray-500">Nenhuma notificação</span>
  </div>

  <div *ngFor="let item of items" class="d-flex flex-stack">
    <div
      class="d-flex px-8 py-5 border-bottom border-gray-300 cursor-pointer"
      [ngClass]="{ 'bg-gray-200': item.read_at === null }"
      (click)="goToItem(item)"
    >
      <div class="d-flex align-items-center">
        <div class="symbol symbol-35px me-4">
          <span
            class="symbol-label"
            [ngClass]="'bg-light-' + item.data.context"
          >
            <span
              [inlineSVG]="
                './assets/media/icons/duotune/coletivia/' +
                item.data.icon +
                '.svg'
              "
              class="svg-icon svg-icon-2x"
              [ngClass]="'svg-icon-' + item.data.context"
            ></span>
          </span>
        </div>

        <div class="mb-0 me-2">
          <span class="fs-6 text-gray-800 fw-bolder">
            {{ item.data.title }}
          </span>
          <div class="text-gray-500 fs-7">{{ item.data.message }}</div>
        </div>
      </div>

      <span class="badge badge-light fs-8 h-50 align-self-center">{{
        item.timeAgo
      }}</span>
    </div>
  </div>
</div>
