<div class="d-flex flex-column flex-column-fluid bg-blue">
  <div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20">
    <a routerLink="/" class="mb-12"
      ><img
        alt="Logo"
        src="./assets/media/logos/logo-1-white.svg"
        class="h-45px"
    /></a>

    <div
      class="mw-lg-1000px min-w-500px bg-white rounded shadow-sm p-10 p-lg-15 mx-auto"
    >
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="d-flex flex-center flex-column-auto p-10">
    <div class="d-flex align-items-center fw-bold fs-6 text-white">
      Todos os direitos reservados &copy;
      {{ currentDate.getFullYear() }}
    </div>
  </div>
</div>
