<div class="wrapper">
  <div class="card border-0 p-5">
    <div class="card-body">
      <div class="card-px text-center pt-15">
        <h2 class="fs-2x fw-bold mb-0">Gere imagens com Midjourney</h2>

        <p class="text-gray-400 fs-4 fw-semibold py-7">
          Escreva uma descrição detalhada da imagem que deseja gerar
        </p>
      </div>

      <app-loading-wrapper *ngIf="loading"></app-loading-wrapper>

      <ng-container *ngIf="!loading">
        <div class="input-group">
          <input
            type="text"
            class="form-control h-60px fs-4"
            placeholder="Ex: Um animal imaginário baseado em três espécies diferentes"
            [(ngModel)]="prompt"
          />
          <div class="input-group-append">
            <button
              type="button"
              class="btn btn-primary btn-generate h-60px fs-3"
              (click)="generate()"
              [disabled]="prompt.length === 0"
            >
              Gerar
            </button>
          </div>
        </div>
        <div class="my-4">
          <div
            class="form-check form-switch form-check-custom form-check-success form-check-solid"
          >
            <input
              class="form-check-input"
              type="checkbox"
              [(ngModel)]="translate"
              [value]="true"
            />
            <label class="form-check-label fs-6">
              Traduzir a descrição da imagem para inglês para gerar imagens com
              maior nível de detalhes e mais assertividade
              <span class="badge badge-danger">Experimental</span>
            </label>
          </div>
        </div>

        <div class="panel panel-default w-100 mt-20">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a
                class="accordion-toggle fs-6 fw-bold d-flex"
                role="button"
                (click)="toggleAccordion()"
              >
                <i class="bi bi-info-circle fs-4 me-2"></i>
                Precisa de ajuda para criar uma boa descrição?
              </a>
            </h4>
          </div>
          <div class="mt-10" [ngClass]="{ collapse: !isAccordionOpen }">
            <div class="panel-body">
              <ul class="list-group mt-6">
                <li class="list-group-item" *ngFor="let exemplo of exemplos">
                  <h5 class="mt-3 fst-italic text-gray-700">
                    {{ exemplo.prompt }}
                  </h5>
                  <p class="mt-5">
                    <span class="fw-bolder">Exemplo de descrição: </span
                    >{{ exemplo.descricaoIdeal }}
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
