<div class="content">
  <ng-container>
    <p class="fs-3 text-dark text-uppercase fw-bolder">Opções geradas</p>
    <p class="fs-6 text-muted revert text-uppercase">
      Clique no botão <strong>GERAR ALTA RESOLUÇÃO</strong> para criar uma
      versão individual em alta resolução da imagem que desejar
    </p>

    <div class="row">
      <div class="col-md-12 mb-4">
        <div
          class="card position-relative my-15"
          *ngFor="let image of generation?.images.images; let i = index"
        >
          <img
            class="card-img cursor-pointer"
            [src]="generation?.images.images[0].uri"
            alt="Imagem"
            (click)="showFullSizeImage(generation?.images.images[0].uri)"
          />
          <button
            class="btn btn-corner top-0 start-0 qd-1"
            (click)="confirmUpscale(i, 1)"
          >
            <div class="badge badge-white badge-circle me-5 fs-6">1</div>
            <i class="fs-2 bi bi-badge-hd text-white"></i>
            <span class="d-none d-sm-block"> Gerar alta resolução</span>
          </button>

          <button
            class="btn btn-corner top-0 end-0 qd-2"
            (click)="confirmUpscale(i, 2)"
          >
            <div class="badge badge-white badge-circle me-5 fs-6">2</div>
            <i class="fs-2 bi bi-badge-hd text-white"></i>
            <span class="d-none d-sm-block"> Gerar alta resolução</span>
          </button>

          <button
            class="btn btn-corner bottom-0 start-0 qd-3"
            (click)="confirmUpscale(i, 3)"
          >
            <div class="badge badge-white badge-circle me-5 fs-6">3</div>
            <i class="fs-2 bi bi-badge-hd text-white"></i>
            <span class="d-none d-sm-block"> Gerar alta resolução</span>
          </button>

          <button
            class="btn btn-corner bottom-0 end-0 qd-4"
            (click)="confirmUpscale(i, 4)"
          >
            <div class="badge badge-white badge-circle me-5 fs-6">4</div>
            <i class="fs-2 bi bi-badge-hd text-white"></i>
            <span class="d-none d-sm-block"> Gerar alta resolução</span>
          </button>
        </div>
        <div
          *ngIf="fullSizeImageUrl"
          class="full-size-container"
          (click)="closeFullSizeImage()"
        >
          <img [src]="fullSizeImageUrl" class="full-size-image" />
        </div>
      </div>
    </div>
  </ng-container>
</div>
