<div class="wrapper">
  <div class="card border-0 p-5">
    <div class="card-header border-0">
      <div class="card-title"></div>
      <div class="card-toolbar">
        <button
          class="btn btn-bg-light btn-active-color-primary"
          (click)="goTo('/image/midjourney/create')"
        >
          <i class="las la-file-upload fs-1"></i> Gerar nova imagem
        </button>
      </div>
    </div>
    <div class="card-body">
      <div class="card-px text-start">
        <p class="text-center fs-6" *ngIf="(items$ | async)?.length === 0">
          Nenhum registro encontrado
        </p>

        <div class="row">
          <div
            class="col-md-4 mb-4"
            *ngFor="let item of (items$ | async)?.data"
          >
            <div
              class="card cursor-pointer"
              (click)="goTo('image/midjourney/generation', item.uuid)"
            >
              <img
                class="card-img-top"
                [src]="item?.images?.images[0]?.uri"
                alt="Imagem"
              />
              <div class="card-body">
                <p class="card-text">
                  {{ item?.prompt | slice : 0 : 100
                  }}{{ item?.prompt?.length > 100 ? '...' : '' }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="text-center">
        <mat-paginator
          [length]="totalItems"
          [pageSize]="itemsPerPage"
          [pageSizeOptions]="[6, 12, 24, 48]"
          (page)="goToPage($event)"
          showFirstLastButtons="true"
        ></mat-paginator>
      </div>
    </div>
  </div>
</div>
