<div *ngIf="isInvalidUrl" class="w-500px">
  <div class="fw-bolder fs-3 mb-5">Oops! Ocorreu um erro.</div>
  <p class="fs-6">
    Não é possível validar o e-mail e token necessários para redefinição de
    senha. Utilize o link enviado por e-mail para redefinir sua senha. Se você
    estiver tendo problemas em redefinir a sua senha a partir do link
    disponibilizado, envie um e-mail para
    <a href="mailto:contato@coletivia.com.br" class="text-decoration-underline"
      >contato@coletivia.com.br</a
    >
    utilizando o seu e-mail cadastrado para relatar o problema.
  </p>
</div>
<form
  *ngIf="!isInvalidUrl"
  class="form w-450px fv-plugins-bootstrap5 fv-plugins-framework"
  novalidate="novalidate"
  [formGroup]="forgotPasswordForm"
  (ngSubmit)="submit()"
>
  <!--begin::Title-->
  <div class="text-center mb-10">
    <h1 class="text-dark mb-3">Redefina sua senha</h1>
    <div class="text-gray-400 fw-bold fs-4">
      Escolha uma nova senha forte para sua conta
    </div>
  </div>
  <!--end::Title-->

  <!-- begin::Alert error-->
  <ng-container *ngIf="errorState === errorStates.HasError">
    <div class="mb-lg-15 alert alert-danger">
      <div class="alert-text font-weight-bold">
        {{ exception.error.error }}
      </div>
    </div>
  </ng-container>
  <!-- end::Alert error-->

  <ng-container *ngIf="errorState === errorStates.NoError">
    <div class="mb-10 bg-light-info p-8 rounded">
      <!--begin::Body-->
      <div class="text-info">Sua senha foi redefinida com sucesso.</div>
      <!--end::Body-->
    </div>
  </ng-container>

  <!--begin::Form group for Password-->
  <div class="fv-row mb-10">
    <label class="form-label fw-bolder text-gray-900 fs-6">Nova senha</label>
    <input
      class="form-control form-control-lg form-control-solid"
      type="password"
      formControlName="password"
      placeholder="Nova Senha"
      name="password"
      autocomplete="off"
      [ngClass]="{
        'is-invalid': forgotPasswordForm.controls['password'].invalid,
        'is-valid': forgotPasswordForm.controls['password'].valid
      }"
    />

    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'Preenchimento obrigatório',
        control: forgotPasswordForm.controls['password']
      }"
    ></ng-container>

    <!-- Additional validation for password, e.g., minimum length -->
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'minlength',
        message: 'Tamanho mínimo de 6 caracteres',
        control: forgotPasswordForm.controls['password']
      }"
    ></ng-container>
  </div>
  <!--end::Form group-->

  <!--begin::Form group for Confirm Password-->
  <div class="fv-row mb-10">
    <label class="form-label fw-bolder text-gray-900 fs-6"
      >Confirme a nova senha</label
    >
    <input
      class="form-control form-control-lg form-control-solid"
      type="password"
      formControlName="confirmPassword"
      placeholder="Confirme a Nova Senha"
      name="confirmPassword"
      autocomplete="off"
      [ngClass]="{
        'is-invalid': forgotPasswordForm.controls['confirmPassword'].invalid,
        'is-valid': forgotPasswordForm.controls['confirmPassword'].valid
      }"
    />

    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'Preenchimento obrigatório',
        control: forgotPasswordForm.controls['confirmPassword']
      }"
    ></ng-container>

    <!-- Custom validation for matching passwords -->
    <div
      *ngIf="
        !forgotPasswordForm.controls['confirmPassword'].errors?.required &&
        f.password.value !== f.confirmPassword.value
      "
    >
      <div class="fv-plugins-message-container">
        <div class="fv-help-block">
          <span role="alert">As senhas não coincidem</span>
        </div>
      </div>
    </div>
  </div>
  <!--end::Form group-->

  <!--begin::Form group-->
  <div class="d-flex flex-wrap justify-content-center pb-lg-0">
    <button type="submit" class="btn btn-lg btn-primary fw-bolder me-4">
      <span class="indicator-label">Enviar</span>
      <ng-container *ngIf="isLoading$ | async">
        <span class="indicator-progress">
          Aguarde...
          <span
            class="spinner-border spinner-border-sm align-middle ms-2"
          ></span>
        </span>
      </ng-container>
    </button>
    <a routerLink="/auth/login" class="btn btn-lg btn-light-primary fw-bolder">
      Cancelar
    </a>
  </div>
  <!--end::Form group-->
</form>
<!--end::Form-->

<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        <span role="alert">{{ message }}</span>
      </div>
    </div>
  </ng-container>
</ng-template>
