.carousel-card {
  width: 50%;
}

.instagram-buttons {
  display: flex;
  align-items: center;
}

.instagram-buttons i {
  margin-right: 10px;
  font-size: 34px;
  font-weight: bold;
}

.bookmark-icon {
  margin-left: auto;
}
