<div class="container">
  <div class="card my-8">
    <div class="card-body">
      <div class="card-px text-center pt-15 pb-15">
        <h2 class="fs-2x fw-bold mb-0">
          Gere imagens com Inteligência Artificial
        </h2>

        <p class="text-gray-400 fs-4 fw-semibold py-7">
          Escreva uma descrição detalhada da imagem e escolha o tamanho e a
          quantidade de imagens que deseja gerar
        </p>

        <div class="input-group">
          <input
            type="text"
            class="form-control h-60px fs-4"
            placeholder="Ex: Uma pintura a óleo impressionista de girassóis em um vaso roxo…"
            [(ngModel)]="prompt"
          />
          <div class="custom-select-wrapper">
            <select
              class="form-control custom-select select-size fs-4"
              [(ngModel)]="imageSize"
            >
              <option *ngFor="let size of ['256x256', '512x512', '1024x1024']">
                {{ size }}
              </option>
            </select>
            <div class="custom-select-arrow"></div>
          </div>
          <div class="custom-select-wrapper">
            <select
              class="form-control custom-select select-nvariations fs-4"
              [(ngModel)]="nVariations"
            >
              <option *ngFor="let n of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
                {{ n }}
              </option>
            </select>
            <div class="custom-select-arrow"></div>
          </div>
          <div class="input-group-append">
            <button
              type="button"
              class="btn btn-primary btn-generate h-60px fs-3"
              (click)="generate()"
              [disabled]="prompt.length === 0"
            >
              Gerar
            </button>
          </div>
        </div>
      </div>

      <div class="images mb-15 d-flex">
        <div
          class="text-gray-400 fs-5 fw-semibold py-7 w-100 text-center"
          *ngIf="imageUrls.length > 0"
        >
          <p>Clique nas imagens para ver em tamanho real</p>
          <p>
            Atenção, salve as imagens que deseja manter. As imagens serão
            perdidas em alguns minutos.
          </p>
        </div>

        <img
          *ngFor="let url of imageUrls"
          [src]="url"
          width="200"
          height="200"
          class="thumbnail"
          (click)="showFullSizeImage(url)"
        />
      </div>

      <div
        *ngIf="fullSizeImageUrl"
        class="full-size-container"
        (click)="closeFullSizeImage()"
      >
        <img [src]="fullSizeImageUrl" class="full-size-image" />
      </div>

      <div class="panel panel-default w-100 px-10">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a
              class="accordion-toggle fs-6 fw-bold d-flex"
              role="button"
              (click)="toggleAccordion()"
            >
              <i class="bi bi-info-circle fs-4 me-2"></i>
              Precisa de ajuda para criar uma boa descrição?
            </a>
          </h4>
        </div>
        <div class="mt-10" [ngClass]="{ collapse: !isAccordionOpen }">
          <div class="panel-body">
            <ul class="list-group mt-6">
              <li class="list-group-item" *ngFor="let exemplo of exemplos">
                <h5 class="mt-3 fst-italic text-gray-700">
                  {{ exemplo.prompt }}
                </h5>
                <p class="mt-5">
                  <span class="fw-bolder">Exemplo de descrição: </span
                  >{{ exemplo.descricaoIdeal }}
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
